body{
    margin: 0;
    padding: 0;
    background-image: url(fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


.carrossel {
  width: 100%;            
  height: 100vh;           
  max-height: 400px;        
  position: relative;
  overflow: hidden;  
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  border-radius: 0;       
}

.slides {
  display: flex;
  width: 500%;              
  height: 100%;
  transition: transform 0.6s ease;
}

.slide {
  width: 20%;              
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;        
}
input[type="radio"] {
  display: none;
}

#s1:checked ~ .slides { transform: translateX(0%); }
#s2:checked ~ .slides { transform: translateX(-20%); }
#s3:checked ~ .slides { transform: translateX(-40%); }


.navegacao {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.navegacao label {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: rgba(255,255,255,0.6);
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

input:checked + label {
  background: #fff;
  transform: scale(1.2);
}

h1{
    text-align: center;
    font-size: 50px;
    font-family:"Cambria";
    color: rgb(209, 218, 218);
}

h2{
    font-family: "Cambria";
    text-align: center;
    font-size: 30px;
    color: rgb(209, 218, 218);
    margin-top: 20px;
    margin-bottom: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.card {
    background-color: #fff;
    width: 100%;
    max-width: 600px;  /* Limita a largura máxima dos cards */
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px 0;
}

.card-header {
    color: rgb(39, 37, 37);
    padding: 1px;
    cursor: pointer;
    font-size: 1.2em;
}

h3{
    text-align: center;
}
.card-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    transition: max-height 0.4s ease-out, padding 0.3s ease-out;
}

.card input {
    display: none;
}

.card input:checked ~ .card-content {
    max-height: 1000px; /* Ajuste conforme necessário */
    padding: 15px;
}

.card input:checked + .card-header {
    background-color: #0056b3;
}

.foto{
    display: flex; 
    gap: 10px;
    overflow: hidden;
}

.foto img{
    width: 260px;
    height: 200px;
    border: 5px solid rgb(18, 78, 80);
    border-radius: 10px;
    transition: transform 0.4s ease;
}

.foto img:hover{
    transform: scale(1.2);
}

p{
  font-family: "Cambria";
  font-size: 20px;
}

h3{
  font-family: "Cambria";
  color: #0a407a;
  font-size: 30px;
}

footer{
    background-color: rgb(192, 209, 219);
    font-size: 20px;
    text-align: center;
    font-family: "Cambria";
    padding: 0.1px;
    color: black;

}